POSTGRES_USER=monitor
POSTGRES_PASSWORD=change-moi
POSTGRES_DB=monitor

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379

DISCORD_WEBHOOK_URL=lien-de-ton-webhook-discord